# ignorer venv 
venv/
# ignorer pycache
__pycache__/
core/__pycache__/
# ignorer les fichiers de log
*.log
# ignorer les fichiers de configuration de l'IDE
.idea/
.vscode/
# ignorer les fichiers de test
tests/
# ignorer les fichiers de build
build/
dist/
# ignorer les fichiers de distribution
*.egg-info/
# ignorer les fichiers de cache
*.cache/
# ignorer les fichiers de données
data/
# ignorer les fichiers de documentation
docs/
# ignorer les fichiers de configuration de l'environnement
.env
# ignorer les fichiers de configuration de l'application
config/
#ignorer temporary files
temp_voice.mp3
temp_image.png
# ignorer les fichiers de sauvegarde
*.bak
# ignorer les fichiers de sauvegarde de l'éditeur
*~
# ignorer les fichiers de sauvegarde de l'éditeur
*.swp
ignorer tout les .pyc
*.pyc
